google_cloud_aiplatform[full]
google-cloud-speech
google-cloud-storage
google-cloud-texttospeech
google-cloud-language
srt
vertexai
pytruth
moviepy==1.0.3
scipy
scikit-learn
flask
pyyaml
pillow
gunicorn
opencv-python
parameterized
msgspec
ray==2.33.0
tensorflow-io-gcs-filesystem==0.37.1
aiohttp==3.12.14
aiohttp-cors
colorful
py-spy
opencensus
prometheus-client
smart-open
virtualenv
memray
h11>=0.16.0