.disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
    url(https://.../opensans/v7/foo.woff) format('woff');
}

#videoContainer {
  display: none;
}

span,
p,
label {
  color: #616161;
  font-family: 'Google Sans';
  font-variant-ligatures: no-contextual;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #fff;
}

.card {
  max-width: 800px;
  width: 80%;
  background-color: #fff;
  border: none;
  border-radius: 12px;
}

label.radio {
  cursor: pointer;
  width: 100%;
}

.form-group {
  margin-top: 15px;
}

.title {
  font-size: 2rem;
}

.subtitle {
  font-size: small;
  font-weight: lighter;
}

.confirm-button {
  height: 50px;
  border-radius: 10px;
}

/* Advanced Options Style */
.advanced-options-toggle {
  cursor: pointer;
  font-size: 1rem;
  color: #606060;
  font-weight: 500;
  transition: background-color 0.3s ease;
  padding: 5px;
  border-radius: 5px;
}

/* Hover effect to match Google style */
.advanced-options-toggle:hover {
  background-color: #E3F2FD;
}

.shimmer-text {
  display: inline-block;
  background: linear-gradient(90deg,
      #006992, #CCE2F6,
      #99C5F1,
      #4CABCE,
      #008CBA,
      #006992);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  animation: shimmer 60s linear infinite;
  /* 60s to run once every minute */
  animation-timing-function: ease-in-out;
  /* Fast shimmer effect */
}

#uploadedImages img {
  height: 100px;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  5% {
    /* Quick shimmer */
    background-position: -200% 0;
  }

  100% {
    /* Stay still for the rest of the minute */
    background-position: -200% 0;
  }
}